{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/styleShow.css">
{% endblock %}

{% block content %}

    <div class="container justify-content-center">
        <pre>
        {{ dump(request) }}
        </pre> 
        <div class="row">
            <div class="col">
                <div class="plant"><img src="{{ plant.picture }}" alt="{{ plant.name }}"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="player">
                <div id="info" class="info">
                    <span class="artist">
                        {% for row in request %}

                                {{ row.name }}
                                <audio autoplay src="{{ row.link }}"></audio>                               
                            
                        {% endfor %}                                          
                    </span>
                    <span class="name">
                        {% for row in request %}
                            
                                {{ row.soundName }}
                            
                        {% endfor %}
                    </span>
                    <div class="progress-bar">
                        <div class="bar"></div>
                    </div>
                </div>
                <div id="control-panel" class="control-panel">
                    <div class="album-art"></div>
                    <div class="controls">
                        <div class="prev"></div>
                        <div id="play" class="play"></div>
                        <div class="next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>    
{% endblock %}

{% block javascript %}
    <script src="/assets/js/show.js"></script>
{% endblock %}